@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-600);
  --bold-foreground: var(--color-neutral-800);
  --primary: var(--color-orange-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bold-foreground: var(--bold-foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-200);
    --bold-foreground: var(--color-neutral-100);
    --primary: var(--color-orange-400);
  }
}

@utility list {
  @apply flex flex-wrap gap-4;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply py-16 px-4;
  }

  section {
    @apply space-y-4 mt-4;
  }

  a {
    @apply underline text-primary hover:opacity-80;
  }

  img {
    @apply opacity-90 filter-[saturate(.75)_contrast(.92)_brightness(1.03)_sepia(.08)];
  }

  h1,
  h2,
  strong {
    @apply text-bold-foreground;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold pt-4;
  }
}
